/* Estilização geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #99c6bc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Nunito", sans-serif;
}

.container {
    text-align: center;
    background-color: #cbc1b1;
    padding: 1rem;
    border-radius: 10px;
    border: solid 2px #4f615e;
    box-shadow: 10px 10px 0 #4f615e;
}

.box_logo {
    margin: 0.6rem;
}

/* formulário */
.formulario {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
}

.formulario label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #4f615e;
    width: 70px;
}

.formulario input {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

/* Botões */
.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.voltar, .logar {
    border: none;
    padding: 0.5rem ;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    /* Alinha verticalmente ícone + texto */
}

.voltar {
    gap: 0.5rem;
    background-color: #5d5653;
    color: white;
}

.logar {
    background-color: #4f8379;
    color: white;
    gap: 0.5rem;
}

.voltar:hover {
    background-color: #6b645f;
    transform: translateY(-3px);
}

.logar:hover {
    background-color: #4fb0a3;
    transform: translateY(-3px);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

/* para celular */
.box_buttons:hover {
    background-color: #a79b88;
    transform: translateY(-3px);
  }
  
  @media (max-width: 480px) {
    .container {
      width: 90%;
      padding: 0.6rem;
    }
    
    .box_logo img{
      width: 100%;
    }
  
    .box_logo{
      margin: 0.2rem;
    }
  
    .box_buttons {
      margin: 0.6rem 0.2rem;
      border-radius: 7px;
      max-width: 98%;
      font-size: 1rem;
      font-weight: 500;
    }
  }